* {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  background-color: #525e75;
  color: #fff;
}